.memo-page {
  height: 100%;
  width: 100%;
  padding: 1em;
}

.memo-layout {
  display: flex;
  height: 90%;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

@media (prefers-color-scheme: light) {
  .memo-layout {
    border: 1px solid black;
  }
}
