:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body,
#root {
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-weight: 500;
  line-height: 1.1;
}

ul {
  padding-left: 1.5em;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
