.memo-editor {
  width: 50%;
  padding: 1em;
}

.editor-content {
  height: 50%;
  width: 100%;
  padding: 0.5em;
  font-size: 1.4rem;
  line-height: 1.5;
  border: 1px solid #646cff;
  border-radius: 8px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

button.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

button.btn:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  button.btn {
    background-color: #f9f9f9;
  }
}
